In [1]:
import pandas as pd
import numpy as np
data=pd.read_csv('heart_cleveland_upload.csv')
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,40,1,3,152,223,0,0,181,0,0.0,0,0,2,1
293,39,1,3,118,219,0,0,140,0,1.2,1,0,2,1
294,35,1,3,120,198,0,0,130,1,1.6,1,0,2,1
295,35,0,3,138,183,0,0,182,0,1.4,0,0,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2,1

In [2]:
data.isna().sum()

age          0
sex          0
cp           0
trestbps     0
chol         0
fbs          0
restecg      0
thalach      0
exang        0
oldpeak      0
slope        0
ca           0
thal         0
condition    0
dtype: int64

In [3]:
data.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'condition'],
      dtype='object')

In [5]:
X=data[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach','exang', 'oldpeak', 'slope', 'ca', 'thal']]
y=data[['condition']]

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.20,random_state=40)

In [8]:
from sklearn.svm import SVC
svm=SVC(kernel='linear',random_state=20)
svm.fit(X_train,y_train)
y_pred=svm.predict(X_test)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [9]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
acc=accuracy_score(y_test,y_pred)
print("Accuracy =",acc)
clr=classification_report(y_test,y_pred)
print(clr)
confusion_matrix(y_test,y_pred)

Accuracy = 0.8
              precision    recall  f1-score   support

           0       0.74      0.89      0.81        28
           1       0.88      0.72      0.79        32

    accuracy                           0.80        60
   macro avg       0.81      0.81      0.80        60
weighted avg       0.81      0.80      0.80        60

array([[25,  3],
       [ 9, 23]])

In [10]:
correct_pred=0
wrong_pred=0
for i in range(len(y_test)):
    if y_test.values[i]==y_pred[i]:
        correct_pred+=1
    else:
        wrong_pred+=1

print("Correct predictions = ",correct_pred )
print("Wrong predictions = ",wrong_pred)

Correct predictions =  48
Wrong predictions =  12