In [3]:
import pandas as pd
import numpy as np
data = pd.read_csv("car_evaluation - car_evaluation.csv")
data

     buy_price maint_cost  doors person boot_space safety  class
0        vhigh      vhigh      2      2      small    low  unacc
1        vhigh      vhigh      2      2      small    med  unacc
2        vhigh      vhigh      2      2      small   high  unacc
3        vhigh      vhigh      2      2        med    low  unacc
4        vhigh      vhigh      2      2        med    med  unacc
...        ...        ...    ...    ...        ...    ...    ...
1723       low        low  5more   more        med    med   good
1724       low        low  5more   more        med   high  vgood
1725       low        low  5more   more        big    low  unacc
1726       low        low  5more   more        big    med   good
1727       low        low  5more   more        big   high  vgood

[1728 rows x 7 columns]

In [8]:
rows,cols=data.shape
print(f"Rows:",rows)
print(f"columns:",cols)

Rows: 1728
columns: 7

In [9]:
data.isnull().sum()

buy_price     0
maint_cost    0
doors         0
person        0
boot_space    0
safety        0
class         0
dtype: int64

In [10]:
data.columns

Index(['buy_price', 'maint_cost', 'doors', 'person', 'boot_space', 'safety',
       'class'],
      dtype='object')

In [22]:
#find the max value in doors
max_value = data['doors'].max()
print(max_value)
#find the min value in doors 
min_value = data['doors'].min()
print(min_value)

5more
2

In [23]:
#find the min and max of person 
max_value = data['person'].max()
print(max_value)
#find the min value in doors 
min_value = data['person'].min()
print(min_value)

more
2

In [24]:
from sklearn.preprocessing import LabelEncoder
for col in data.columns[:-1]:
    le=LabelEncoder()
    data[col]=le.fit_transform(data[col])

In [26]:
data.head(10)

   buy_price  maint_cost  doors  person  boot_space  safety  class
0          3           3      0       0           2       1  unacc
1          3           3      0       0           2       2  unacc
2          3           3      0       0           2       0  unacc
3          3           3      0       0           1       1  unacc
4          3           3      0       0           1       2  unacc
5          3           3      0       0           1       0  unacc
6          3           3      0       0           0       1  unacc
7          3           3      0       0           0       2  unacc
8          3           3      0       0           0       0  unacc
9          3           3      0       1           2       1  unacc

In [25]:
#define data into features and target 
X = data[['buy_price', 'maint_cost', 'doors', 'person', 'boot_space', 'safety']]
y = data[['class']]
print(X)
print(y)

      buy_price  maint_cost  doors  person  boot_space  safety
0             3           3      0       0           2       1
1             3           3      0       0           2       2
2             3           3      0       0           2       0
3             3           3      0       0           1       1
4             3           3      0       0           1       2
...         ...         ...    ...     ...         ...     ...
1723          1           1      3       2           1       2
1724          1           1      3       2           1       0
1725          1           1      3       2           0       1
1726          1           1      3       2           0       2
1727          1           1      3       2           0       0

[1728 rows x 6 columns]
      class
0     unacc
1     unacc
2     unacc
3     unacc
4     unacc
...     ...
1723   good
1724  vgood
1725  unacc
1726   good
1727  vgood

[1728 rows x 1 columns]

In [27]:
#find the max value in doors
max_value = data['doors'].max()
print(max_value)
#find the min value in doors 
min_value = data['doors'].min()
print(min_value)

3
0

In [28]:
#find the max value in person
max_value = data['person'].max()
print(max_value)
#find the min value in doors 
min_value = data['person'].min()
print(min_value)

2
0

In [19]:
X_ = data.iloc[:, :-1]
y_ = data.iloc[:, -1]
print(X_)
print(y_)

     buy_price maint_cost  doors person boot_space safety
0        vhigh      vhigh      2      2      small    low
1        vhigh      vhigh      2      2      small    med
2        vhigh      vhigh      2      2      small   high
3        vhigh      vhigh      2      2        med    low
4        vhigh      vhigh      2      2        med    med
...        ...        ...    ...    ...        ...    ...
1723       low        low  5more   more        med    med
1724       low        low  5more   more        med   high
1725       low        low  5more   more        big    low
1726       low        low  5more   more        big    med
1727       low        low  5more   more        big   high

[1728 rows x 6 columns]
0       unacc
1       unacc
2       unacc
3       unacc
4       unacc
        ...
1723     good
1724    vgood
1725    unacc
1726     good
1727    vgood
Name: class, Length: 1728, dtype: object

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.30,random_state=40)


#Standardize the features (Important for PCA)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [33]:
 
#perform PCA with different number of components
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
best_accuracy=0
best_n_components=0

In [34]:
for n_components in range(2,6):
    pca=PCA(n_components=n_components)
    X_train_pca=pca.fit_transform(X_train)
    X_test_pca=pca.fit_transform(X_test)


    #train a classifier(Random Forest Classifier)
    clf=RandomForestClassifier(random_state=42)
    clf.fit(X_train_pca,y_train)

    #make predictions and calculate accuracy
    y_pred=clf.predict(X_test_pca)
    accuracy=accuracy_score(y_test,y_pred)

    print(f"Number of PCA Components:{n_components},Accuracy:{accuracy}")


    #update best accuracy and number of components
    if accuracy>best_accuracy:
        best_accuracy=accuracy
        best_n_components=n_components

print(f"Best number of PCA components:{best_n_components},Best accuracy:{best_accuracy}")

/tmp/ipykernel_2781/3533891329.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(X_train_pca,y_train)
/tmp/ipykernel_2781/3533891329.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(X_train_pca,y_train)

Number of PCA Components:2,Accuracy:0.6242774566473989
Number of PCA Components:3,Accuracy:0.6647398843930635

/tmp/ipykernel_2781/3533891329.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(X_train_pca,y_train)
/tmp/ipykernel_2781/3533891329.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(X_train_pca,y_train)

Number of PCA Components:4,Accuracy:0.6358381502890174
Number of PCA Components:5,Accuracy:0.6319845857418112
Best number of PCA components:3,Best accuracy:0.6647398843930635