In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
data=pd.read_csv("car data.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  299 non-null    float64
 4   Kms_Driven     300 non-null    float64
 5   Fuel_Type      299 non-null    object
 6   Seller_Type    298 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(3), int64(2), object(4)
memory usage: 21.3+ KB

In [2]:
#no of rows and columns
rows,cols=data.shape
print(f"Rows:",rows)
print(f"columns:",cols)

Rows: 301
columns: 9

In [3]:
#check any null values
data.isna().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    2
Kms_Driven       1
Fuel_Type        2
Seller_Type      3
Transmission     0
Owner            0
dtype: int64

In [4]:
data.head(10)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000.0,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000.0,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900.0,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200.0,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450.0,Diesel,Dealer,Manual,0
5,vitara brezza,2018,9.25,9.83,2071.0,Diesel,Dealer,Manual,0
6,ciaz,2015,6.75,8.12,18796.0,Petrol,Dealer,Manual,0
7,s cross,2015,6.50,8.61,33429.0,Diesel,Dealer,Manual,0
8,ciaz,2016,8.75,8.89,20273.0,Diesel,Dealer,Manual,0
9,ciaz,2015,7.45,8.92,42367.0,Diesel,Dealer,Manual,0

In [5]:
data['Present_Price']=data['Present_Price'].fillna(data['Present_Price'].mean())

In [6]:
data['Kms_Driven']=data['Kms_Driven'].fillna(data['Kms_Driven'].mean())

In [7]:
data['Fuel_Type']=data['Fuel_Type'].fillna(data['Fuel_Type'].mode()[0])

In [8]:
data['Seller_Type']=data['Seller_Type'].fillna(data['Seller_Type'].mode()[0])

In [9]:
#to find the mode value of seller_type column
#[0] is used to select first value from mode,if there are multiple mode
data['Seller_Type'].mode()[0]

'Dealer'

In [10]:
#to find the mode value of Fuel_type column
#[0] is used to select first value from mode,if there are multiple mode
data['Fuel_Type'].mode()[0]

'Petrol'

In [11]:
#to find the mode value of Kms_Driven column
data['Kms_Driven'].mean()

36833.69666666667

In [12]:
#to find the mode value of Present_Price column
data['Present_Price'].mean()

7.628227424749165

In [13]:
#again check null values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    float64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(3), int64(2), object(4)
memory usage: 21.3+ KB

In [14]:
#The column Year is changed to number of years wrt 2023
data['Year']=2023-data['Year']

In [15]:
data.head(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,9,3.35,5.59,27000.0,Petrol,Dealer,Manual,0
1,sx4,10,4.75,9.54,43000.0,Diesel,Dealer,Manual,0
2,ciaz,6,7.25,9.85,6900.0,Petrol,Dealer,Manual,0
3,wagon r,12,2.85,4.15,5200.0,Petrol,Dealer,Manual,0
4,swift,9,4.60,6.87,42450.0,Diesel,Dealer,Manual,0

In [16]:
data['Car_Name'].value_counts()

Car_Name
city                        26
corolla altis               16
verna                       14
fortuner                    11
brio                        10
                            ..
Honda CB Trigger             1
Yamaha FZ S                  1
Bajaj Pulsar 135 LS          1
Activa 4g                    1
Bajaj Avenger Street 220     1
Name: count, Length: 98, dtype: int64

In [17]:
#drop the column name 'Car_Name' as it is insignificant here
#keep significant columns only
data.drop(['Car_Name'],axis=1,inplace=True)
data.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,9,3.35,5.59,27000.0,Petrol,Dealer,Manual,0
1,10,4.75,9.54,43000.0,Diesel,Dealer,Manual,0
2,6,7.25,9.85,6900.0,Petrol,Dealer,Manual,0
3,12,2.85,4.15,5200.0,Petrol,Dealer,Manual,0
4,9,4.60,6.87,42450.0,Diesel,Dealer,Manual,0

In [18]:
#no  need of dropping this column
data['Owner'].value_counts()

Owner
0    290
1     10
3      1
Name: count, dtype: int64

In [19]:
data['Seller_Type'].value_counts()

Seller_Type
Dealer        195
Individual    106
Name: count, dtype: int64

In [20]:
#use one -Hot encodimg for categorical data
#as we are dealing with linear regression,it is necessary to encode categorical data
data=pd.get_dummies(data,drop_first=True)
data.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,9,3.35,5.59,27000.0,0,False,True,False,True
1,10,4.75,9.54,43000.0,0,True,False,False,True
2,6,7.25,9.85,6900.0,0,False,True,False,True
3,12,2.85,4.15,5200.0,0,False,True,False,True
4,9,4.60,6.87,42450.0,0,True,False,False,True

The pd.get_dummies()functions is used to convert categorical data into a numerical format that can be used
in machine learning models.it creates binary columns(0 or 1)to represent different categories in a categorical column
the drop_first parameter,when set to True,drops one of the dummy columns to avoid multicollinearity in certain
machine learning models.

In [21]:
#use standardscaler() to scale features of the data set
#transform data so that mean is 0 and std deviation is 1
#here we consider to scale only one feature 'Year'
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
data['Year']=sc.fit_transform(data[['Year']])
data.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,-0.128897,3.35,5.59,27000.0,0,False,True,False,True
1,0.217514,4.75,9.54,43000.0,0,True,False,False,True
2,-1.168129,7.25,9.85,6900.0,0,False,True,False,True
3,0.910335,2.85,4.15,5200.0,0,False,True,False,True
4,-0.128897,4.60,6.87,42450.0,0,True,False,False,True

In [22]:
data.columns

Index(['Year', 'Selling_Price', 'Present_Price', 'Kms_Driven', 'Owner',
       'Fuel_Type_Diesel', 'Fuel_Type_Petrol', 'Seller_Type_Individual',
       'Transmission_Manual'],
      dtype='object')

In [23]:
#mark data to X (multiple features) and y(single target)
X=data[['Year', 'Present_Price', 'Kms_Driven', 'Owner','Fuel_Type_Diesel', 'Fuel_Type_Petrol', 'Seller_Type_Individual','Transmission_Manual']]
y=data[['Selling_Price']]

In [24]:
#split whole data to train and test data
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.20,random_state=20)

In [25]:
#import the Linear regression model
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [26]:
#fit the model(train the model)
lr.fit(X_train,y_train)

LinearRegression()

In [27]:
#predict the model(test the model)
y_pred=lr.predict(X_test)

In [28]:
from sklearn.metrics import r2_score
r2score=r2_score(y_test,y_pred)
print(f"R2score:",r2score)

R2score: 0.9235814633588498

In [29]:
#Manually testing the model
new_data_point=[[0.910335,4.15,5200.0,0,0,1,0,1]]
y_pred=lr.predict(new_data_point)
print(f"Selling Price:",y_pred)

Selling Price: [[2.15942756]]

C:\Users\sachi\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(